<h3 class="header col s12 white-text text-darken-3 center">Mis Actividades</h3>
<form autocomplete="off" action="/projects/search" method="POST" class="#01467c light-blue darken-4">
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s8">
          <label class="header col s12 white-text text-darken-3" for="activity-fecha">
              Fecha
            </label>
            <input 
            placeholder="Ingrese fecha de actividad"
            type="text" 
            id="activity-fecha"
            name="fecha"
            value=""
            class="datepicker header col s12 white-text text-darken-3"
            >
            <span class="helper-text" 
            data-error="Debe ingresar una fecha"
            data-success="Correcto"></span>
            {{#if errorModel.fechaError}}
            <span style="color: red;">Error: {{errorModel.fechaError}}</span>
            {{/if}}
        </div>
        <div class="input-field col s4">
          <button
            type="submit"
            class="#191b1c grey darken-4 waves-effect waves-light btn">
            <i class="material-icons left">
              search
            </i>
            Buscar Actividad
          </button>
        </div>
      </div>
    </form>
  </div>
</form>
  
  <div class="row">
    {{#each projectsDocs}}
    {{!-- <pre>{{this}}</pre> --}}
    <div class="col s12 m6">
      <div class="card #191b1c grey darken-4">
        <div class="card-content white-text">
          <h5>{{fecha}}</h5>
          <span class="card-title">{{name}}</span>
          <p>{{description}}</p>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
